.header {
  display: flex;
  justify-content: center; /* Κεντράρισμα του μενού */
  align-items: center;
  background-color: #1a1a1a;
  color: #fff;
  padding: 15px 20px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
  font-size: 24px;
  flex-grow: 1; /* Εξασφαλίζει ότι το λογότυπο πιάνει χώρο και τα links μένουν στο κέντρο */
}

.hamburger {
  display: none; /* Κρύψιμο του hamburger στις μεγάλες οθόνες */
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.nav {
  display: flex;
  justify-content: center; /* Κεντράρισμα των links του μενού */
  gap: 30px; /* Απόσταση μεταξύ των links */
  align-items: center; /* Κάθετη στοίχιση των links */
}

.nav a {
  padding: 10px 15px; /* Προσαρμογή του padding για καλύτερη εμφάνιση */
  text-decoration: none;
  color: #fff;
  border-bottom: none;
  transition: background-color 0.3s ease;
}

.nav a:hover {
  background-color: #333;
}

/* Για το dropdown menu */
.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent a {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  display: block;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

/* src/app/layout.module.css */
.nav a i,
.nav a .svg-inline--fa {
  margin-right: 5px; /* Απόσταση μεταξύ του εικονιδίου και του κειμένου */
  font-size: 18px; /* Μέγεθος του εικονιδίου */
}

/* Εμφάνιση του hamburger menu σε κινητές συσκευές */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav {
    display: none; /* Κρύψιμο του κανονικού μενού σε κινητές συσκευές */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .nav.open {
    display: flex;
  }

  .nav a {
    color: #333;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
  }

  .nav a:hover {
    background-color: #f0f0f0;
  }

  .nav .dropdown span {
    color: #333; /* Αλλάζει το χρώμα του κειμένου για το dropdown στο responsive */
    padding: 15px 20px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
}
